<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Botelle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D21EAE671F27EE8E0072358E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D21EAE7B1F27EE8F0072358E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D21EAE861F27EE8F0072358E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
